<%= form_for [event, Comment.new], remote: true, data: {type: :script} do |f| %>
	<div class="field">
		<%= f.label :body, "Comment" %><br>
		<%= f.text_area :body %>
	</div>
	<%= f.submit "Comment!" %> 
<% end %>